////////////////////////////////////////////////////////////////////////////////
// -------------------------------------------------------------------------- //
//                                                                            //
//                       (C) 2010-2016 Robot Developers                       //
//                       See LICENSE for licensing info                       //
//                                                                            //
// -------------------------------------------------------------------------- //
////////////////////////////////////////////////////////////////////////////////

@import common
@import menu
@import marked

//----------------------------------------------------------------------------//
// Header                                                                     //
//----------------------------------------------------------------------------//

#header
	 width: 100%
	height: auto
	relative: left top

	background: url("/common/header.jpg")
	background-position: center
	background-repeat: no-repeat
	background-size: cover

#banner
	 width: 100%
	height: 100px
	relative: left top

	& .container
		absolute: left 50% top 50%
		 margin: -32px 0 0 -490px
		padding: 0px 20px 0px 20px
		text-align: center

	& svg
		 width: 256px
		height:  64px
		fill: grey(230)
		margin-bottom: 10px



//----------------------------------------------------------------------------//
// Docs                                                                       //
//----------------------------------------------------------------------------//

#docs
	 width: 100%
	height: auto
	relative: left top

	& .container
		width: 980px
		padding: 0px



//----------------------------------------------------------------------------//
// Sidebar                                                                    //
//----------------------------------------------------------------------------//

#sidebar
	 float: left
	 width: 220px
	height: auto
	relative: left top

	& nav
		margin: 20px 0px 0px 20px

	& h1, & a
		display: block

		  font-size: 18px
		line-height: 44px
		font-weight: 400
		 text-align: left

		 margin: 0px 0px 0px  0px
		padding: 0px 0px 0px 20px

	& h1
		font-weight: 600
		color: grey(230)
		background: rgb(200, 100, 20)

	& a,
	& a:hover, & a:active,
	& a:focus, & a:visited
		color: grey(60)

	& a:hover
		color: grey(60)
		background: grey(230)

	& .active, & .active:hover
		background: grey(230)



//----------------------------------------------------------------------------//
// Content                                                                    //
//----------------------------------------------------------------------------//

#content
	 float: right
	 width: 720px
	height: auto
	relative: left top



//----------------------------------------------------------------------------//
// Print                                                                      //
//----------------------------------------------------------------------------//

@media print
	#content
		width: 940px

	#header
	#sidebar
		display: none !important
